@page
@model ST10115884_MashuduLuvhengo_POE_TASK1.Pages.Administrator.AdminHomeModel
@{

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Administrator</title>
</head>
<body style=" background-color: #6932D4 !important; color:white !important;">
    <h2 style="text-align:center; margin:20px;">Disasters</h2>
   
        <div class="row" style="align-content:center;">
            <div class="col-sm-3">
                <div class="card border-success mb-3" style="width: 18rem; height: auto; margin-left: 100px; border-color: #FF622D !important;">
                    <div class="card-header  border-success" style="border-color: #FF622D !important; background-color: #6932D4 ">Earthquake</div>
                    <img class="card-img-top" src="~/img/earthquake2.jpg" alt="earthquake" style="height:200px;">
                    <div class="card-body" style="background-color: #6932D4">
                        <h5 class="card-title">Success card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
               <div class="card border-success mb-3" style="width: 18rem; border-color: #FF622D !important; margin-left: 100px;">
                        <div class="card-header  border-success" style="border-color: #FF622D !important; background-color: #6932D4 ">Flood</div>
                        <img class="card-img-top" src="~/img/flood1.jpg" alt="flood" style="height:200px;">
                        <div class="card-body"  style="background-color: #6932D4">
                            <h5 class="card-title">Success card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                </div>
            </div>
                <div class="col-sm-3">
                    <div class="card border-success mb-3" style="width: 18rem; border-color: #FF622D !important; margin-left: 100px;">
                        <div class="card-header border-success" style=" border-color: #FF622D !important; background-color: #6932D4;">Flood</div>
                        <img class="card-img-top" src="~/img/flood2.jpg" alt="flood" style="height:200px;">
                        <div class="card-body"  style="background-color: #6932D4">
                            <h5 class="card-title">Success card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    </div>
            
        </div>
</body>
</html>
