@page
@model ST10115884_MashuduLuvhengo_POE_TASK1.Pages.User.LoginModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div class="container">

        <h4>Login</h4>
        @if ((bool)ViewData["isLoggedIn"] == false)
        {
            <div class="alert alert-danger" role="alert">
                Invalid credentials
            </div>}

        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Users.email" class="control-label"></label>
                        <input asp-for="Users.email" class="form-control" />
                        <span asp-validation-for="Users.email" class="text-danger"></span>
                    </div>
                    <span asp-validation-summary="ModelOnly" class="text-danger"></span>
                    <div class="form-group">
                        <label asp-for="Users.password" class="control-label"></label>
                        <input asp-for="Users.password" class="form-control" type="password" />
                        <span asp-validation-for="Users.password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>