@page
@model ST10115884_MashuduLuvhengo_POE_TASK1.Pages.WhatWeDoModel
@{
    ViewData["Title"] = "About Us";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
</head>

    <div class="about-us">
        <h3>Who We Are</h3>
        <p>
            The Disaster Alleviation Foundation is a non‐profit organisation dedicated to provide hunger relief, clean water,
            medical care and disaster relief to millions.
            The foundation’s mission is to provide practical aid during disasters. The core value of the foundation is transparency,
            as it is important that the data is accurate and always visible for everyone to see.

        </p>

        <h3>What We Do</h3>
        <p>
            Our donations are recevied from various sources such as individuals, companies, other organisations and even governments.
            The donations can be goods(clothes, non-perishable foods, etc) or monetary. The money donated is either paid out (for example
            to a local community organisation) or used to purchase goods that are the dipacted to a disaster area.
        </p>
    </div>
